.Obstacle{
    background-color: red;
    width: 100%;
    height: 100%;


    &__Destroy{
        animation-name: animateObstacleDestruction;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        
        &--Two{
            animation-duration: .6s;
        }
        
        &--One{
            animation-duration: .2s;
        }
    }
}